<!-- @(grevistes: String) -->

<!DOCTYPE html>
<html>
<head>
    <title>FrenchWhine</title>
    <!-- 
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
	-->
	<link rel="stylesheet" media="screen" href="style.css">
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    </head>
    <body>
    	<div class="drapeau" id="drapeauEnHaut">
    		<div class="bleu"></div>
    		<div class="blanc"></div>
    		<div class="rouge"></div>
    	</div>
    	<article>
	        <div id="aujourdhui">Aujourd'hui,</div>
	        <div id="grevistes"><a href="#">La SNCF</a>, <a href="#">Air France</a> et <a href="#">les enseignants</a></div>
	    	<div id="engreve">sont en grève.</div>
    	</article>
    	<footer>
    		<div class="drapeau" id="drapeauEnBas">
	    		<div class="bleu"></div>
	    		<div class="blanc"></div>
	    		<div class="rouge"></div>
    		</div>
    		<div id="MadeInSwitzerland">Fait par @quentinms, avec Play et jNLP </div>
    	</footer>
    </body>
</html>
