@(grevistes: List[GreveItem])

<!DOCTYPE html>

<html>
<head>
    <title>FrenchWhine</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    </head>
    <body>
    	<div class="drapeau" id="drapeauEnHaut">
    		<div class="bleu"></div>
    		<div class="blanc"></div>
    		<div class="rouge"></div>
    	</div>
    	<article>
    	<div id="grevistes">
	        <div id="aujourdhui">Aujourd'hui,</div>
	        	<a target="_blank" href="@grevistes.head.newsUrl">@grevistes.head.greviste</a>@for(greviste <- grevistes.dropRight(1).drop(1)) {, <a target="_blank" href="@greviste.newsUrl">@greviste.greviste</a>}
				 et <a target="_blank" href="@grevistes.last.newsUrl">@grevistes.last.greviste</a>
				
		</div>
		<div id="engreve">sont en grève.</div>
    	</article>
    	<footer>
    		<div class="drapeau" id="drapeauEnBas">
	    		<div class="bleu"></div>
	    		<div class="blanc"></div>
	    		<div class="rouge"></div>
    		</div>
    		<div id="MadeInSwitzerland">Fait par <a href="http://twitter.com/quentinms" target="_blank">@@quentinms</a>, avec <a href="http://playframework.com" target="_blank">Play</a>, et blablabla</div>
    	</footer>
    </body>
</html>
